<main class="main">
	<header-layout></header-layout>
	<div class="wrapper-cart">
			<h1 class="headerShoppingCart">SHOPPING CART</h1>
			<div class="group-cart">
					<div class="header-cart">
							<div class="col-1">IMAGE</div>
							<div class="col-2">NAME</div>
							<div class="col-3">PRICE</div>
							<div class="col-4">ACTION</div>
					</div>
					<div class="body-cart">
							<div class="row-cart">
									<div class="col-1">
											<img src="assets/images/giay.jpg" width="100px" alt="Product Image">
									</div>
									<div class="col-2">{{"Sumba OG" | uppercaseText}}</div>
									<div class="col-3">{{400000 | currencyPipe}}</div>
									<div class="col-4">
											<div class="btn-main" style="cursor: pointer;">
													<i class="fa-solid fa-trash" style="color: #ffffff;"></i>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
</main>

<router-outlet />